* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background-color: rgba(31, 32, 65, 0.05);
}

.wrap {
  margin: auto;
  width: 1160px;
}

/* ==========================================
 link style
=========================================== */
a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.link-black {
  color: rgba(31, 32, 65, 0.5);
}

.link-black:hover,
.link-black:focus-within {
  text-shadow: 0 0 1.2px rgba(31, 32, 65, 0.75), 0 0 1.2px rgba(31, 32, 65, 0.75);
}

/* ==========================================
 Tutle style
=========================================== */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  color: #1F2041;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 14px;
}

p {
  margin: 0;
}

.gray-logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 30px 62px;
}

.gray-logo__wrap a {
  margin-left: 20px;
}

.user__wrap {
  margin-top: 40px;
  background-color: #FFF;
}

.header__login-line {
  width: 1px;
  height: 30px;
  background-color: rgba(31, 32, 65, 0.1);
}

.header__login-name {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

/* ==========================================
 grow & shrink
=========================================== */
.logo__grow {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

/* ==========================================
 margin & padding
=========================================== */
.mrtop-16 {
  margin-top: 16px;
}

.mrtop-20 {
  margin-top: 20px;
}

.mrtop-80 {
  margin-top: 80px;
}

.mrbottom-16 {
  margin-bottom: 16px;
}

.mrrh-20 {
  margin-right: 20px;
}

.mrleft-40 {
  margin-left: 40px;
}

.pdleft-20 {
  padding-left: 20px;
}

.side {
  margin-left: 126px;
  margin-right: 126px;
}

.mrbottom-54 {
  margin-bottom: 54px;
}

/* ==========================================
 colored
=========================================== */
.warning {
  color: #ff634769;
  background-color: #ff634769;
  padding-left: 10px;
}

.bgcolor-white {
  background-color: #FFF;
}

.color-black-75 {
  color: rgba(31, 32, 65, 0.75);
}

/* ==========================================
 display
=========================================== */
.inline-text {
  display: inline;
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ==========================================
 imports
=========================================== */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: #FFF;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__topmenu-link {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.header__downmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20em;
  padding: 8px 28px 28px 28px;
  position: absolute;
  top: -300px;
  left: 0;
  z-index: 100;
  list-style-type: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.header__downmenu.active {
  top: 48px;
  opacity: 1;
}

.header__downmenu.active li {
  margin-top: 20px;
}

.header__downmenu-link {
  font-weight: 700;
  color: #FFF;
  -webkit-transition: color 0.9s ease;
  transition: color 0.9s ease;
}

.header__downmenu-link:hover, .header__downmenu-link:focus-within {
  color: rgba(31, 32, 65, 0.25);
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#burger {
  display: none;
  height: 30px;
  cursor: pointer;
}

#burger img {
  height: 100%;
}

.link__img {
  margin-left: 5px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.button__wrap {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.button__wrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button__entrance,
.button__empty {
  margin: 2px;
  padding: 8px 18px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #BC9CFF;
  border: none;
  outline: none;
  border-radius: 22px;
  background: #FFF;
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button__entrance:hover,
.button__empty:hover {
  opacity: 1;
}

.button__register,
.button__full {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button__register:hover,
.button__full:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

footer {
  background-color: #FFF;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 100px 0;
}

.footer__logo, .footer__subscribe {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 40px;
}

.footer__subscribe {
  margin-right: 0;
}

.footer__text {
  color: rgba(31, 32, 65, 0.75);
}

.footer__navigation {
  -ms-flex-preferred-size: content;
      flex-basis: content;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 55px;
}

.footer__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.footer__menu {
  padding: 0;
  list-style-type: none;
}

.footer__menu li {
  margin-bottom: 20px;
}

.copyright {
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.copyright__wrap, .copyright__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright__wrap {
  padding: 23px 0;
}

.copyright__text p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}

.copyright__link {
  margin-right: 20px;
}

.copyright__link:last-of-type {
  margin-right: 0;
}

.copyright__img {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.copyright__img:hover {
  opacity: 0.5;
}

.copyright__logo {
  display: none;
}

.copyright__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 768px;
  height: 367px;
  padding: 120px 0;
  margin: 40px auto 140px;
  background-color: #FFF;
}

.copyright__small .copyright__text {
  margin: 20px 0 25px;
}

/* ==========================================
 Forms element page styles
=========================================== */
.three-columns,
.pagination__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-title__wrap,
.chekbox-title__wrap,
.buttons-title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 21px;
}

.chekbox-title__wrap {
  margin-bottom: 16px;
}

.input__class {
  margin: 5px 0;
  padding: 13px 15px;
}

.input__wrap,
.input__class,
.input__wrap-150,
.input__wrap-266 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background-color: #FFF;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.input__wrap,
.input__class {
  width: 320px;
}

.input__wrap-150 {
  width: 150px;
}

.input__wrap-266 {
  width: 266px;
}

.input__wrap:hover,
.input__wrap:focus,
.input__wrap.active,
.input__class:hover,
.input__class:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

input {
  margin: 15px 0px 15px 15px;
  border: none;
  outline: none;
  color: rgba(31, 32, 65, 0.75);
}

input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.button-arrow {
  margin-right: 15px;
  outline: none;
  border: none;
  background-color: #FFF;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.button-arrow:hover {
  opacity: 0.5;
}

.input__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.input__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.input-dark {
  color: rgba(31, 32, 65, 0.75);
}

/*===========================================
Guests choise
===========================================*/
#guests {
  width: 320px;
  margin: 13px 15px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.guest__choise,
.romm__choise {
  display: none;
  margin-top: -4px;
  padding: 7px 15px 13px 15px;
  background: #FFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  -webkit-transition: display 0.5s ease;
  transition: display 0.5s ease;
}

.guest__choise.active,
.romm__choise.active {
  display: block;
}

.guest__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.guest__text {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.guest__img-btn {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
}

.guests__choise {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 12px;
  text-align: center;
}

.guest__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
}

.guest__clear,
.guest__ok,
.room__clear,
.room__ok,
.button__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.guest__clear:hover,
.guest__ok:hover,
.room__clear:hover,
.room__ok:hover,
.button__link:hover {
  color: rgba(31, 32, 65, 0.5);
}

.date-gray {
  margin: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.two-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*===========================================
Checkbox Buttons
===========================================*/
.check__input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.check__box {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
}

.check__input:checked + .check__box {
  border: 1px solid #BC9CFF;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 2.29245L5.70703 6.53509L4.29282 7.9493L0.0501771 3.70666L1.46439 2.29245Z' fill='url(%23paint0_linear_18381_239)'/%3E%3Cpath d='M8.53546 0.878232L9.94967 2.29245L4.29282 7.9493L2.8786 6.53509L8.53546 0.878232Z' fill='url(%23paint1_linear_18381_239)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_18381_239' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_18381_239' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.check__input:hover + .check__box {
  border: 1px solid #BC9CFF;
}

.check__input:disabled + .check__box {
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.check__input:disabled:checked + .check__box {
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 2.29245L5.70703 6.53509L4.29282 7.9493L0.0501771 3.70666L1.46439 2.29245Z' fill='url(%23paint0_linear_18381_239)'/%3E%3Cpath d='M8.53546 0.878232L9.94967 2.29245L4.29282 7.9493L2.8786 6.53509L8.53546 0.878232Z' fill='url(%23paint1_linear_18381_239)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_18381_239' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='rgba(31,32,65,0.25)'/%3E%3Cstop offset='1' stop-color='rgba(31,32,65,0.25)'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_18381_239' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='rgba(31,32,65,0.25)'/%3E%3Cstop offset='1' stop-color='rgba(31,32,65,0.25)'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

/*===========================================
Radio buttons
===========================================*/
.radio__input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.radio__box {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  cursor: pointer;
}

.radio__input:checked + .radio__box {
  border: 1px solid #BC9CFF;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear_1_291)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_291' x1='6' y1='0' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
}

.radio__input:hover + .radio__box {
  border: 1px solid #BC9CFF;
}

.radio {
  margin-bottom: 10px;
  margin-left: 30px;
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
}

/*===========================================
Toggle
===========================================*/
.switch {
  padding-left: 50px;
  margin-bottom: 14px;
}

.switch__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.switch__box {
  position: absolute;
  margin-left: -50px;
  width: 40px;
  height: 20px;
  border: 1px solid #BC9CFF;
  border-radius: 10px;
  cursor: pointer;
}

.check__input:checked + .switch__box {
  border: 1px solid #BC9CFF;
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear_1_291)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1_291' x1='6' y1='0' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.check__input + .switch__box {
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-repeat: no-repeat;
  background-position: 15% 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.557617' width='12' height='12' rx='6' fill='%231F2041' fill-opacity='0.25'/%3E%3C/svg%3E");
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*===========================================
Like buttons
===========================================*/
.like__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 20px;
  margin-right: 10px;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25);
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.like__box.active, .like__box:hover {
  color: #BC9CFF;
  border-color: #BC9CFF;
}

.like__heart {
  width: 10px;
  height: 10px;
  display: block;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.03906 6.73438C5.66406 6.17448 6.1263 5.7513 6.42578 5.46484C6.72526 5.17839 7.05078 4.83984 7.40234 4.44922C7.75391 4.05859 7.99479 3.71354 8.125 3.41406C8.26823 3.11458 8.33984 2.82161 8.33984 2.53516C8.33984 2.11849 8.19661 1.77344 7.91016 1.5C7.63672 1.22656 7.29167 1.08984 6.875 1.08984C6.54948 1.08984 6.24349 1.18099 5.95703 1.36328C5.68359 1.54557 5.49479 1.77995 5.39062 2.06641H4.60938C4.50521 1.77995 4.3099 1.54557 4.02344 1.36328C3.75 1.18099 3.45052 1.08984 3.125 1.08984C2.70833 1.08984 2.35677 1.22656 2.07031 1.5C1.79688 1.77344 1.66016 2.11849 1.66016 2.53516C1.66016 2.82161 1.72526 3.11458 1.85547 3.41406C1.9987 3.71354 2.24609 4.05859 2.59766 4.44922C2.94922 4.83984 3.27474 5.17839 3.57422 5.46484C3.8737 5.7513 4.33594 6.17448 4.96094 6.73438L5 6.77344L5.03906 6.73438ZM6.875 0.25C7.52604 0.25 8.06641 0.471354 8.49609 0.914062C8.9388 1.35677 9.16016 1.89714 9.16016 2.53516C9.16016 2.91276 9.08854 3.28385 8.94531 3.64844C8.80208 4 8.53516 4.39714 8.14453 4.83984C7.76693 5.28255 7.42188 5.65365 7.10938 5.95312C6.79688 6.2526 6.29557 6.71484 5.60547 7.33984L5 7.88672L4.39453 7.35938C3.49609 6.55208 2.84505 5.94661 2.44141 5.54297C2.05078 5.13932 1.6862 4.66406 1.34766 4.11719C1.00911 3.57031 0.839844 3.04297 0.839844 2.53516C0.839844 1.89714 1.05469 1.35677 1.48438 0.914062C1.92708 0.471354 2.47396 0.25 3.125 0.25C3.88021 0.25 4.50521 0.542969 5 1.12891C5.49479 0.542969 6.11979 0.25 6.875 0.25Z' fill='%231F2041' fill-opacity='0.25'/%3E%3C/svg%3E");
}

.like__heart.active,
.like__box:hover > .like__heart {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93026 7.88672L4.3248 7.33984C3.63469 6.71484 3.13339 6.2526 2.82089 5.95312C2.50839 5.65365 2.15683 5.28255 1.7662 4.83984C1.3886 4.39714 1.12818 4 0.984952 3.64844C0.841723 3.28385 0.770108 2.91276 0.770108 2.53516C0.770108 1.89714 0.984952 1.35677 1.41464 0.914062C1.85735 0.471354 2.40422 0.25 3.05526 0.25C3.81047 0.25 4.43547 0.542969 4.93026 1.12891C5.42506 0.542969 6.05006 0.25 6.80526 0.25C7.45631 0.25 7.99667 0.471354 8.42636 0.914062C8.86907 1.35677 9.09042 1.89714 9.09042 2.53516C9.09042 3.04297 8.92115 3.57031 8.58261 4.11719C8.24407 4.66406 7.87297 5.13932 7.46933 5.54297C7.0787 5.94661 6.43417 6.55208 5.53573 7.35938L4.93026 7.88672Z' fill='url(%23paint0_linear_18447_118)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_18447_118' x1='4.93026' y1='-6' x2='4.93026' y2='14' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

/*===========================================
raiting stars
===========================================*/
.raiting {
  margin: 0;
  padding: 0;
  border: none;
}

.raiting__star {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  height: 24px;
  cursor: pointer;
}

.raiting__star-one {
  width: 24px;
  z-index: 5;
}

.raiting__star-two {
  width: 48px;
  z-index: 4;
}

.raiting__star-three {
  width: 72px;
  z-index: 3;
}

.raiting__star-four {
  width: 96px;
  z-index: 2;
}

.raiting__star-five {
  width: 120px;
  z-index: 1;
}

.raiting__star:checked, .raiting__star:hover {
  background-image: url("../source/img/star.svg");
  background-repeat: repeat-x;
  background-size: 24px;
}

.raiting__star:focus {
  outline: none;
}

.raiting__star:hover ~ .raiting__star {
  background-image: url("../source/img/star_border.svg");
  background-repeat: repeat-x;
  background-size: 24px;
}

.raiting__group {
  position: relative;
  width: 120px;
  height: 24px;
  background-image: url("../source/img/star_border.svg");
  background-repeat: repeat-x;
  background-size: 24px;
}

/*===========================================
Range styles
===========================================*/
.range__container {
  margin-top: 20px;
}

.range__container:after {
  content: "";
  clear: both;
  display: table;
}

.range__container .ui-slider {
  position: relative;
  width: 266px;
  height: 6px;
  background: #FFF;
  border-radius: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25);
}

.range__container .ui-slider .ui-slider-handle {
  position: absolute;
  margin-left: -10px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #FFF;
  outline: none;
  top: -4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  z-index: 2;
  -webkit-transition: border 0.4s, -webkit-transform 0.2s;
  transition: border 0.4s, -webkit-transform 0.2s;
  transition: transform 0.2s, border 0.4s;
  transition: transform 0.2s, border 0.4s, -webkit-transform 0.2s;
}

.range__container .ui-slider .ui-slider-handle:hover,
.range__container .ui-slider .ui-slider-handle:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: #FFF;
}

.range__container .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.ui-state-hover,
.ui-state-focus,
.ui-slider-handle .ui-state-hover,
.ui-slider-handle .ui-state-focus {
  border-color: #FFF;
}

/*===========================================
buttons
===========================================*/
.buttons__wrap-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.button__full-press {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0.5;
}

.button__wrap-press {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
  border-radius: 22px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.button__link-press {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.buttons__wrap {
  margin-bottom: 40px;
}

.button__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px 15px 70px;
  border: none;
  outline: none;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button__arrow:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button__arrow-text {
  margin-right: 50px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*===========================================
pagination
===========================================*/
.pagination__wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.pagination__link-disabled {
  font-weight: 700;
  font-size: 12px;
  color: #FFF;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  pointer-events: none;
  cursor: default;
}

.pagination__link {
  font-weight: 400;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.5);
  border-radius: 22px;
  border: 2px solid #FFF;
  background-color: #FFF;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.pagination__link:hover {
  background-color: rgba(31, 32, 65, 0.05);
}

.pagination__arrow {
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: pointer;
}

.pagination__arrow:hover {
  opacity: 0.5;
}

.pagination__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  color: rgba(31, 32, 65, 0.75);
}

#amenities,
.amenities {
  width: 266px;
  margin: 13px 15px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

/*===========================================
Checkbox Buttons Room
===========================================*/
.arrow-img {
  margin-left: 30px;
  width: 44px;
  height: 44px;
  background-image: url("../source/img/arrow_down.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.arrow-img.active {
  background-image: url("../source/img/arrow_up.svg");
}

#checkbox__room {
  display: none;
  margin-bottom: 30px;
}

#checkbox__room.active {
  display: block;
}

@media (max-width: 1200px) {
  .wrap {
    width: 860px;
  }
}

@media (max-width: 900px) {
  .wrap {
    width: 90%;
  }
  #burger {
    display: block;
    z-index: 98;
  }
  .header__nav, .header__login {
    display: none;
  }
  .header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 28px;
  }
  .header__login.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    max-width: 100%;
    position: absolute;
    top: 300px;
    left: 60px;
    z-index: 96;
    background-color: #FFF;
    border-top: 2px solid rgba(31, 32, 65, 0.25);
  }
  .header__nav.active .header__topmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
    padding: 30px 60px 140px 60px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-radius: 4px;
  }
  .header__topmenu {
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(31, 32, 65, 0.5);
            box-shadow: 0px 0px 15px 10px rgba(31, 32, 65, 0.5);
    height: 90%;
  }
  .header__nav.active .header__topmenu-link {
    margin-bottom: 20px;
  }
  .header__nav a {
    font-size: 20px;
  }
  .header__downmenu {
    width: auto;
  }
  .header__nav.active .header__downmenu {
    top: -400px;
    left: 0;
    opacity: 0;
  }
  .header__nav.active .header__downmenu.active {
    padding: 20px 40px 40px 40px;
    top: -50px;
    opacity: 1;
  }
  .header__nav.active .header__downmenu.active li {
    padding-bottom: 20px;
  }
  .header__nav.active .header__login {
    display: block;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    height: 70px;
    margin: auto;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 20px;
  }
  .button__register {
    padding: 20px 36px;
    font-size: 16px;
  }
  .button__entrance {
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
  .footer__navigation {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .footer__logo, .footer__subscribe {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .footer__title {
    font-size: 16px;
    line-height: 20px;
  }
  .link-black, .footer__text {
    font-size: 18px;
    line-height: 24px;
  }
  .copyright__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0;
  }
  .copyright__icons {
    margin-top: 25px;
  }
  .copyright__logo {
    display: block;
    margin-bottom: 20px;
  }
}
