* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  background-color: rgba(31, 32, 65, 0.05);
}

.wrap {
  margin: auto;
  width: 1160px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.link-black {
  color: rgba(31, 32, 65, 0.5);
}

.link-black:hover,
.link-black:focus-within {
  text-shadow: 0 0 1.2px rgba(31, 32, 65, 0.75), 0 0 1.2px rgba(31, 32, 65, 0.75);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
  color: #1F2041;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 14px;
}

p {
  margin: 0;
}

.gray-logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 30px 62px;
}

.gray-logo__wrap a {
  margin-left: 20px;
}

.user__wrap {
  margin-top: 40px;
  background-color: #FFF;
}

.header__login-line {
  width: 1px;
  height: 30px;
  background-color: rgba(31, 32, 65, 0.1);
}

.header__login-name {
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.logo__grow {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.mrtop-16 {
  margin-top: 16px;
}

.mrrh-20 {
  margin-right: 20px;
}

.warning {
  color: #ff634769;
  background-color: #ff634769;
  padding-left: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  background-color: #FFF;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.header__topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__topmenu-link {
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.header__downmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 20em;
  padding: 8px 28px 28px 28px;
  position: absolute;
  top: -300px;
  left: 0;
  z-index: 100;
  list-style-type: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(#BC9CFF, #8BA4F9);
  opacity: 0;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.header__downmenu.active {
  top: 48px;
  opacity: 1;
}

.header__downmenu.active li {
  margin-top: 20px;
}

.header__downmenu-link {
  font-weight: 700;
  color: #FFF;
  -webkit-transition: color 0.9s ease;
  transition: color 0.9s ease;
}

.header__downmenu-link:hover, .header__downmenu-link:focus-within {
  color: rgba(31, 32, 65, 0.25);
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#burger {
  display: none;
  height: 30px;
  cursor: pointer;
}

#burger img {
  height: 100%;
}

.link__img {
  margin-left: 5px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.button__wrap {
  margin-right: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.button__wrap:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

.button__entrance {
  margin: 2px;
  padding: 8px 18px;
  font-size: 12px;
  font-weight: 700;
  color: #BC9CFF;
  border: none;
  outline: none;
  border-radius: 22px;
  background: #FFF;
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button__entrance:hover {
  opacity: 1;
}

.button__register {
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  border: none;
  outline: none;
  border-radius: 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  cursor: pointer;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button__register:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
}

footer {
  background-color: #FFF;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  padding: 100px 0;
}

.footer__logo, .footer__subscribe {
  -ms-flex-preferred-size: 260px;
      flex-basis: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 40px;
}

.footer__subscribe {
  margin-right: 0;
}

.footer__text {
  color: rgba(31, 32, 65, 0.75);
}

.footer__navigation {
  -ms-flex-preferred-size: content;
      flex-basis: content;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-right: 55px;
}

.footer__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.footer__menu {
  padding: 0;
  list-style-type: none;
}

.footer__menu li {
  margin-bottom: 20px;
}

.copyright {
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.copyright__wrap, .copyright__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright__wrap {
  padding: 23px 0;
}

.copyright__text p {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.75);
}

.copyright__link {
  margin-right: 20px;
}

.copyright__link:last-of-type {
  margin-right: 0;
}

.copyright__img {
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.copyright__img:hover {
  opacity: 0.5;
}

.copyright__logo {
  display: none;
}

.copyright__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 768px;
  height: 367px;
  padding: 120px 0;
  margin: 40px auto 140px;
  background-color: #FFF;
}

.copyright__small .copyright__text {
  margin: 20px 0 25px;
}

.three-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-title__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21px;
}

.input__class {
  margin: 5px 0;
  padding: 13px 15px;
}

.input__wrap,
.input__class,
.input__wrap-150,
.input__wrap-266 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  background-color: #FFF;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.input__wrap,
.input__class {
  width: 320px;
}

.input__wrap-150 {
  width: 150px;
}

.input__wrap-266 {
  width: 266px;
}

.input__wrap:hover,
.input__wrap:focus,
.input__wrap.active,
.input__class:hover,
.input__class:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

input {
  margin: 11px 0px 11px 15px;
  border: none;
  outline: none;
  color: rgba(31, 32, 65, 0.75);
}

input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.button-arrow {
  margin-right: 15px;
  outline: none;
  border: none;
  background-color: #FFF;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.button-arrow:hover {
  opacity: 0.5;
}

.input__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.input__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

.input-dark {
  color: rgba(31, 32, 65, 0.75);
}

#guests {
  width: 320px;
  margin: 13px 15px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.guest__choise {
  display: none;
  margin-top: -4px;
  padding: 7px 15px 13px 15px;
  background: #FFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
          box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  -webkit-transition: display 0.5s ease;
  transition: display 0.5s ease;
}

.guest__choise.active {
  display: block;
}

.guest__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.guest__text {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.guest__img-btn {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  cursor: pointer;
}

.guests__choise {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0px 12px;
  text-align: center;
}

.guest__confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 13px;
}

.guest__clear,
.guest__ok {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.guest__clear:hover,
.guest__ok:hover {
  opacity: 0.5;
}

.date-gray {
  margin: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

.two-input__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  .wrap {
    width: 860px;
  }
}

@media (max-width: 900px) {
  .wrap {
    width: 90%;
  }
  #burger {
    display: block;
    z-index: 98;
  }
  .header__nav, .header__login {
    display: none;
  }
  .header__nav.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 28px;
  }
  .header__login.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    max-width: 100%;
    position: absolute;
    top: 300px;
    left: 60px;
    z-index: 96;
    background-color: #FFF;
    border-top: 2px solid rgba(31, 32, 65, 0.25);
  }
  .header__nav.active .header__topmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 45px;
    padding: 30px 60px 140px 60px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-radius: 4px;
  }
  .header__topmenu {
    width: 100%;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(31, 32, 65, 0.5);
            box-shadow: 0px 0px 15px 10px rgba(31, 32, 65, 0.5);
    height: 90%;
  }
  .header__nav.active .header__topmenu-link {
    margin-bottom: 20px;
  }
  .header__nav a {
    font-size: 20px;
  }
  .header__downmenu {
    width: auto;
  }
  .header__nav.active .header__downmenu {
    top: -400px;
    left: 0;
    opacity: 0;
  }
  .header__nav.active .header__downmenu.active {
    padding: 20px 40px 40px 40px;
    top: -50px;
    opacity: 1;
  }
  .header__nav.active .header__downmenu.active li {
    padding-bottom: 20px;
  }
  .header__nav.active .header__login {
    display: block;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    height: 70px;
    margin: auto;
  }
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 20px;
  }
  .button__register {
    padding: 20px 36px;
    font-size: 16px;
  }
  .button__entrance {
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px;
  }
  .footer__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
  .footer__navigation {
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .footer__logo, .footer__subscribe {
    -ms-flex-preferred-size: content;
        flex-basis: content;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-right: 0px;
    margin-bottom: 40px;
  }
  .footer__title {
    font-size: 16px;
    line-height: 20px;
  }
  .link-black, .footer__text {
    font-size: 18px;
    line-height: 24px;
  }
  .copyright__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 0;
  }
  .copyright__icons {
    margin-top: 25px;
  }
  .copyright__logo {
    display: block;
    margin-bottom: 20px;
  }
}
