doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(type="image/png", sizes="32x32", rel="icon", href="./source/img/favicon.png")
        link(href='css/style.css', rel="stylesheet")
        script(src='./source/scripts/forms.js', defer)
        script(src="https://code.jquery.com/jquery-3.6.1.min.js",
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=",
  crossorigin="anonymous", defer)
        script(src='./source/scripts/jquery-ui.min.js', defer)
        script(src='./source/scripts/jquery.ui.touch-punch.min.js', defer)
        title Form elements
    
    body.bgcolor-white 
        // ==============================================================
        // gray logo and links
        // ==============================================================
        .gray-logo__wrap 
            img(src="./source/img/gray_logo.svg", alt="gray logo Toxin")
            a(href="index.html", target="_blank").link-black Headers & footers
            a(href="index1.html", target="_blank").link-black Form elements

        .wrap.three-columns 
            // 1 column ================================================
            // choise room
            .column 
                .card-choiseRoom 
                    .card-title Найдём номера под #[br] ваши пожелания
                    .two-input__wrap
                        div.mrrh-20
                            .input-title__wrap
                                p.input__title прибытие
                            form(validate)
                                .input__wrap-150
                                    p.date-gray ДД.ММ.ГГГГ
                                    button(type="submit").button-arrow
                                        img(src="./source/img/arrow_down.svg", alt="choise date")

                        div
                            .input-title__wrap
                                p.input__title выезд
                            form(validate)
                                .input__wrap-150
                                    p.date-gray ДД.ММ.ГГГГ
                                    button(type="submit").button-arrow
                                        img(src="./source/img/arrow_down.svg", alt="choise date") 

                    // Choise guests block
                    #guest__dropdown 
                        .input-title__wrap
                            p.input__title гости
                        .input__wrap 
                            p#guests Сколько гостей
                            button(type="submit")#guests__button.button-arrow
                                img(src="./source/img/arrow_down.svg", alt="choise guests")
                        
                        .guest__choise 
                            // adults
                            .guest__line 
                                p.guest__text взрослые
                                img(src="./source/img/minus.svg", alt="adults reduce")#adults-minus.guest__img-btn
                                p#adults.guests__choise 2
                                img(src="./source/img/plus.svg", alt="adults add")#adults-plus.guest__img-btn
                            // children
                            .guest__line 
                                p.guest__text дети
                                img(src="./source/img/minus.svg", alt="children reduce")#children_minus.guest__img-btn
                                p#children.guests__choise 0
                                img(src="./source/img/plus.svg", alt="children add")#children_plus.guest__img-btn
                            // baby
                            .guest__line 
                                p.guest__text младенцы
                                img(src="./source/img/minus.svg", alt="baby reduce")#baby_minus.guest__img-btn
                                p#baby.guests__choise 0
                                img(src="./source/img/plus.svg", alt="baby add")#baby_plus.guest__img-btn
                            // confirm selection
                            .guest__confirm 
                                p.guest__clear очистить
                                p.guest__ok применить

                    //button
                    .card-button__wrap
                        button.button__arrow.wdt-100
                            p.button__arrow-text подобрать номер
                            svg(width="18", height="18", viewBox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z", fill="white")

                //registration
                .card-choiseRoom 
                    .card-title Регистрация аккаунта
                    .card-name__wrap
                        form(validate)
                            input(type="text", placeholder="Имя").input__class
                            input(type="text", placeholder="Фамилия").input__class

                    div
                        label.radio 
                            input(type="radio", name="mal", checked).radio__input 
                            span.radio__box 
                            p.inline-text.color-black-75 Мужчина
                        label.radio.pdleft-20
                            input(type="radio", name="mal").radio__input
                            span.radio__box 
                            p.inline-text Женщина

                    .input-title__wrap
                        p.input__title дата рождения
                    form(validate)
                            input(type="text", placeholder ="ДД.ММ.ГГГГ",maxlength="10")#user-date.input__class

                    .input-title__wrap
                        p.input__title данные для входа в сервис
                    form(validate)
                            input(type="email", placeholder="Email").input__class
                    form(validate)
                            input(type="password", placeholder="Пароль").input__class

                    form(validate)
                        label.switch
                            input(type="checkbox").check__input 
                            span.switch__box
                            p.inline-text Получать спецпредложения


                    .mrtop-24 
                        button.button__arrow.wdt-100
                            p.button__arrow-text перейти к оплате
                            svg(width="18", height="18", viewBox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z", fill="white")

                    .card-register__wrap 
                        p.card-register__text Уже есть аккаунт на Toxin
                        .card-buttonEmpty__wrap 
                            button.card-button__empty войти
