doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(type="image/png", sizes="32x32", rel="icon", href="./source/img/favicon.png")
        link(href='css/style.css', rel="stylesheet")
        script(src='./source/scripts/forms.js', defer)
        script(src="https://code.jquery.com/jquery-3.6.1.min.js",
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=",
  crossorigin="anonymous", defer)
        script(src='./source/scripts/jquery-ui.min.js', defer)
        script(src='./source/scripts/jquery.ui.touch-punch.min.js', defer)
        script(src='./source/scripts/range.js', defer)
        title Form elements
    
    body.bgcolor-white 
        // ==============================================================
        // gray logo and links
        // ==============================================================
        .gray-logo__wrap 
            img(src="./source/img/gray_logo.svg", alt="gray logo Toxin")
            a(href="index.html", target="_blank").link-black Headers & footers
            a(href="index2.html", target="_blank").link-black Cards

        // ==============================================================
        // three columns of elements
        // ==============================================================
        .wrap.three-columns 
            // 1 column ================================================
            // column with inputs
            .column 
                // Text field Default
                .input-title__wrap
                    p.input__title Text Field
                    p.input__text Default
                form(validate)
                    input(type="email", placeholder="Email").input__class
                    
                // Text Field Focus       
                .input-title__wrap
                    p.input__title Text Field
                    p.input__text Hover / Focus
                form(validate)
                        input(type="email", value="This is pretty awesome").input__class.input-dark

                // Choise guests block
                #guest__dropdown 
                    .input-title__wrap
                        p.input__title Dropdown
                    .input__wrap 
                        p#guests Сколько гостей
                        button(type="submit")#guests__button.button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise guests")
                    
                    .guest__choise 
                        // adults
                        .guest__line 
                            p.guest__text взрослые
                            img(src="./source/img/minus.svg", alt="adults reduce")#adults-minus.guest__img-btn
                            p#adults.guests__choise 2
                            img(src="./source/img/plus.svg", alt="adults add")#adults-plus.guest__img-btn
                        // children
                        .guest__line 
                            p.guest__text дети
                            img(src="./source/img/minus.svg", alt="children reduce")#children_minus.guest__img-btn
                            p#children.guests__choise 0
                            img(src="./source/img/plus.svg", alt="children add")#children_plus.guest__img-btn
                        // baby
                        .guest__line 
                            p.guest__text младенцы
                            img(src="./source/img/minus.svg", alt="baby reduce")#baby_minus.guest__img-btn
                            p#baby.guests__choise 0
                            img(src="./source/img/plus.svg", alt="baby add")#baby_plus.guest__img-btn
                        // confirm selection
                        .guest__confirm 
                            p.guest__clear очистить
                            p.guest__ok применить

                // Masked text field
                .input-title__wrap
                    p.input__title masked text field
                form(validate)
                        input(type="text", placeholder ="ДД.ММ.ГГГГ",maxlength="10")#user-date.input__class

                // Masked text field
                .two-input__wrap.mrtop-20
                    div.mrrh-20
                        .input-title__wrap
                            p.input__title date Dropdown
                        form(validate)
                            .input__wrap-150
                                p.date-gray ДД.ММ.ГГГГ
                                button(type="submit").button-arrow
                                    img(src="./source/img/arrow_down.svg", alt="choise date")

                    div
                        .input-title__wrap
                            p.input__title date Dropdown
                        form(validate)
                            .input__wrap-150
                                p.date-gray 19.08.2019
                                button(type="submit").button-arrow
                                    img(src="./source/img/arrow_down.svg", alt="choise date")       

                // filter date dropdown
                .input-title__wrap.mrtop-20
                    p.input__title filter date dropdown
                form(validate)
                    .input__wrap-266
                        p.date-gray 19 авг - 23 авг
                        button(type="submit").button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise date")

                // subscription text field
                .input-title__wrap.mrtop-20
                    p.input__title subscription text field
                form(validate)
                    .input__wrap-266
                        input(type="email", placeholder="Email")
                        button(type="submit").button-arrow
                            img(src="./source/img/arrow_purpure.svg", alt="subscribe button")

            // 2 column ================================================
            // Chekboxes
            .column
                // Checkbox Buttons
                .chekbox-title__wrap
                    p.input__title Checkbox Buttons
                form(validate)
                    label.check
                        input(type="checkbox").check__input
                        span.check__box 
                        p Можно курить
                    label.check
                        input(type="checkbox",checked).check__input
                        span.check__box 
                        p Можно с питомцами
                    label.check
                        input(type="checkbox",checked).check__input 
                        span.check__box
                        p Можно пригласить гостей (до 10 человек)

                // Radio Buttons 
                .chekbox-title__wrap
                    p.input__title.mrtop-20 Radio Buttons
                form(validate)
                    div
                        label.radio 
                            input(type="radio", name="mal", checked).radio__input 
                            span.radio__box 
                            p.inline-text.color-black-75 Мужчина
                        label.radio.pdleft-20
                            input(type="radio", name="mal", disabled).radio__input
                            span.radio__box 
                            p.inline-text Женщина

                // Toggle
                .chekbox-title__wrap
                    p.input__title.mrtop-20 Toggle
                form(validate)
                    .switch__wrap
                        label.switch
                            input(type="checkbox", checked).check__input 
                            span.switch__box
                            p.inline-text Получать спецпредложения
                        label.switch
                            input(type="checkbox").check__input
                            span.switch__box 
                            p.inline-text Получать спецпредложения

                // Like buttons
                .chekbox-title__wrap
                    p.input__title.mrtop-20 like button
                .flex-content
                    .like__box
                        .like__heart
                        p 2

                    .like__box.active
                        .like__heart.active
                        p#like.active 12

                // Stars 
                .chekbox-title__wrap
                    p.input__title.mrtop-20 rate button
                .flex-content
                    div 
                        fieldset.raiting 
                            .raiting__group
                                input(type="radio", name="raiting", value="1",aria-label="ужасно").raiting__star.raiting__star-one
                                input(type="radio", name="raiting", value="2",aria-label="плохо").raiting__star.raiting__star-two
                                input(type="radio", name="raiting", value="3",aria-label="нормально").raiting__star.raiting__star-three
                                input(type="radio", name="raiting", value="4",aria-label="хорошо", checked).raiting__star.raiting__star-four
                                input(type="radio", name="raiting", value="5",aria-label="отлично").raiting__star.raiting__star-five

                    div.pdleft-20 
                        fieldset.raiting 
                            .raiting__group
                                input(type="radio", name="raiting2", value="1",aria-label="ужасно").raiting__star.raiting__star-one
                                input(type="radio", name="raiting2", value="2",aria-label="плохо").raiting__star.raiting__star-two
                                input(type="radio", name="raiting2", value="3",aria-label="нормально").raiting__star.raiting__star-three
                                input(type="radio", name="raiting2", value="4",aria-label="хорошо").raiting__star.raiting__star-four
                                input(type="radio", name="raiting2", value="5",aria-label="отлично", checked).raiting__star.raiting__star-five
                        
            // 3 column ===========================================================
            // buttons
            .column 
                // Range Slider 
                .input-title__wrap
                    p.input__title Range Slider
                    p.input__text.flex-content
                        span.span__range-left 
                        span.span__range-right 
                .range__container 
                    .range
                    
                // Buttons and links 
                .buttons-title__wrap 
                    p.input__title.mrtop-20.mrbottom-16 buttons 
                .buttons__wrap-two
                    button.button__full.mrrh-20 click me
                    button.button__full-press click me
                .buttons__wrap-two
                    .button__wrap 
                        button.button__empty click me
                    .button__wrap-press
                        button.button__empty click me
                .buttons__wrap-two
                    a(href="#").button__link.mrrh-20 click me
                    a(href="#").button__link-press click me
                .buttons__wrap
                    button.button__arrow
                        p.button__arrow-text перейти к оплате
                        svg(width="18", height="18", viewBox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z", fill="white")

                // Buttons and links 
                .buttons-title__wrap 
                    p.input__title.mrtop-20.mrbottom-16 pagination
                .pagination__wrap
                    a(href="#").pagination__link-disabled 1
                    a(href="#").pagination__link 2
                    a(href="#").pagination__link 3
                    a(href="#").pagination__link ...
                    a(href="#").pagination__link 15
                    a(href="#").pagination__arrow 
                        svg(width="18", height="18", viewBox="0 0 18 18", fill="none", xmlns="http://www.w3.org/2000/svg")
                            path(d="M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z", fill="white")
                p.pagination__text 1 – 12 из 100+ вариантов аренды

        // ==============================================================
        // three columns of choise
        // ==============================================================
        .wrap.three-columns.mrtop-80 
            // 1 column =================================================
            // room amenities
            .column
                // Choise room amenities disabled
                #room__dropdown 
                    .input-title__wrap
                        p.input__title Dropdown
                        p.input__text Default
                    .input__wrap 
                        p#amenities 2 спальни, 2 кровати...
                        button(type="submit")#amenities__button.button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise amenities")
                    // bedrooms
                    .romm__choise 
                        .guest__line 
                            p.guest__text спальни
                            img(src="./source/img/minus.svg", alt="bedrooms reduce")#bedrooms-minus.guest__img-btn
                            p#bedrooms.guests__choise 2
                            img(src="./source/img/plus.svg", alt="bedrooms add")#bedrooms-plus.guest__img-btn
                        // beds
                        .guest__line 
                            p.guest__text кровати
                            img(src="./source/img/minus.svg", alt="beds reduce")#beds_minus.guest__img-btn
                            p#beds.guests__choise 2
                            img(src="./source/img/plus.svg", alt="beds add")#beds_plus.guest__img-btn
                        // bathrooms
                        .guest__line 
                            p.guest__text ванные комнаты
                            img(src="./source/img/minus.svg", alt="bathrooms reduce")#bathrooms_minus.guest__img-btn
                            p#bathrooms.guests__choise 0
                            img(src="./source/img/plus.svg", alt="baby add")#bathrooms_plus.guest__img-btn
                        // confirm selection
                        .guest__confirm 
                            p.room__clear очистить
                            p.room__ok применить

                // Choise room amenities enabled 
                .mrbottom-54 
                    .input-title__wrap
                        p.input__title Dropdown
                        p.input__text expanded
                    .input__wrap 
                        p.amenities 2 спальни, 2 кровати...
                        button(type="submit").button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise amenities")
                    
                    .romm__choise.active 
                        // bedrooms
                        .guest__line 
                            p.guest__text спальни
                            img(src="./source/img/minus.svg", alt="bedrooms reduce").guest__img-btn
                            p.guests__choise 2
                            img(src="./source/img/plus.svg", alt="bedrooms add").guest__img-btn
                        // beds
                        .guest__line 
                            p.guest__text кровати
                            img(src="./source/img/minus.svg", alt="beds reduce").guest__img-btn
                            p#beds.guests__choise 2
                            img(src="./source/img/plus.svg", alt="beds add").guest__img-btn
                        // bathrooms
                        .guest__line 
                            p.guest__text ванные комнаты
                            img(src="./source/img/minus.svg", alt="bathrooms reduce").guest__img-btn
                            p.guests__choise 0
                            img(src="./source/img/plus.svg", alt="baby add").guest__img-btn
                        // confirm selection
                        .guest__confirm 
                            p.room__clear очистить
                            p.room__ok применить

            // 2 column ================================================
            // choise guest 1
            .column
                div 
                    .input-title__wrap
                        p.input__title Dropdown
                    .input__wrap 
                        p.guests__show Сколько гостей
                        button(type="submit").button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise guests")
                    // adults
                    .guest__choise.active 
                        .guest__line 
                            p.guest__text взрослые
                            img(src="./source/img/minus.svg", alt="adults reduce").guest__img-btn
                            p.guests__choise 0
                            img(src="./source/img/plus.svg", alt="adults add").guest__img-btn
                        // children
                        .guest__line 
                            p.guest__text дети
                            img(src="./source/img/minus.svg", alt="children reduce").guest__img-btn
                            p.guests__choise 0
                            img(src="./source/img/plus.svg", alt="children add").guest__img-btn
                        // baby
                        .guest__line 
                            p.guest__text младенцы
                            img(src="./source/img/minus.svg", alt="baby reduce").guest__img-btn
                            p.guests__choise 0
                            img(src="./source/img/plus.svg", alt="baby add").guest__img-btn
                        // confirm selection
                        .guest__confirm 
                            p.guest__ok применить

            // 3 column ======================================================
            //choise guest 2
            .column
                div 
                    .input-title__wrap
                        p.input__title Dropdown
                    .input__wrap 
                        p.guests__show 3 гостя
                        button(type="submit").button-arrow
                            img(src="./source/img/arrow_down.svg", alt="choise guests")
                    // adults
                    .guest__choise.active 
                        .guest__line 
                            p.guest__text взрослые
                            img(src="./source/img/minus.svg", alt="adults reduce").guest__img-btn
                            p.guests__choise 2
                            img(src="./source/img/plus.svg", alt="adults add").guest__img-btn
                        // children
                        .guest__line 
                            p.guest__text дети
                            img(src="./source/img/minus.svg", alt="children reduce").guest__img-btn
                            p.guests__choise 1
                            img(src="./source/img/plus.svg", alt="children add").guest__img-btn
                        // baby
                        .guest__line 
                            p.guest__text младенцы
                            img(src="./source/img/minus.svg", alt="baby reduce").guest__img-btn
                            p.guests__choise 0
                            img(src="./source/img/plus.svg", alt="baby add").guest__img-btn
                        // confirm selection
                        .guest__confirm 
                            p.guest__clear очистить
                            p.guest__ok применить

        // ==============================================================
        // three columns of chekboxes
        // ==============================================================
        .wrap.three-columns
            // 1 column =================================================
            .column    
                .chekbox-title__wrap
                    p.input__title expandable checkbox list 
                        #arrow-switch.arrow-img 
                #checkbox__room
                    form(validate)
                        label.check
                            input(type="checkbox").check__input
                            span.check__box 
                            p Завтрак
                        label.check
                            input(type="checkbox",checked).check__input
                            span.check__box 
                            p Письменный стол
                        label.check
                            input(type="checkbox",checked).check__input 
                            span.check__box
                            p Стул для кормления
                        label.check
                            input(type="checkbox",checked).check__input 
                            span.check__box
                            p Кроватка
                        label.check
                            input(type="checkbox").check__input
                            span.check__box 
                            p Телевизор
                        label.check
                            input(type="checkbox").check__input
                            span.check__box 
                            p Шампунь

                .chekbox-title__wrap
                    p.input__title expandable checkbox list
                        .arrow-img.active  
                form(validate)
                    label.check
                        input(type="checkbox").check__input
                        span.check__box 
                        p Завтрак
                    label.check
                        input(type="checkbox",checked).check__input
                        span.check__box 
                        p Письменный стол
                    label.check
                        input(type="checkbox",checked).check__input 
                        span.check__box
                        p Стул для кормления
                    label.check
                        input(type="checkbox",checked).check__input 
                        span.check__box
                        p Кроватка
                    label.check
                        input(type="checkbox").check__input
                        span.check__box 
                        p Телевизор
                    label.check
                        input(type="checkbox").check__input
                        span.check__box 
                        p Шампунь

            // 2 column =================================================
            .column
                .chekbox-title__wrap
                    p.input__title-rich rich Checkbox Buttons
                form(validate)
                    label.check-rich
                        input(type="checkbox").check__input
                        span.check__box 
                        p.text-bold Завтрак
                    p.rich-text Ширина коридоров в номере не менее 91 см.

                    label.check-rich
                        input(type="checkbox").check__input
                        span.check__box 
                        p.text-bold Помощник для инвалидов
                    p.rich-text На 1 этаже вас встретит специалист  и проводит до номера.

            // 3 column =================================================
            .column
                .chekbox-title__wrap
                    p.input__title-rich bullet list
                ul.bullet-list 
                    li Нельзя с питомцами
                    li Без вечеринок и мероприятий
                    li Время прибытия — после 13:00, #[br] а выезд до 12:00

        // ==============================================================
        // two columns / Footer
        // ==============================================================
        .wrap.two-columns
            .column-left 
                .benefits__wrap
                    .div 
                        img(src="./source/img/insert_emoticon.svg", alt="emoticon")
                    .benefits__content 
                        .benefits__title Комфорт
                        .benefits__text Шумопоглощающие стены

                .benefits__wrap
                    .div 
                        img(src="./source/img/location_city.svg", alt="location")
                    .benefits__content 
                        .benefits__title Удобство
                        .benefits__text Окно в каждой из спален

            .column-right 
                .review__wrap
                    .div 
                        img(src="./source/img/murad.jpg", alt="Murad Sarafanov")
                    .review__content 
                        .review__title Мурад Сарафанов
                        .review__text 5 дней назад

                .review__wrap
                    .wdt-48
                        .like__box.active
                            .like__heart.active
                            p.like.active 12
                    .review__content 
                        .review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. #[br] И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто #[br] не жаловался из соседей.
