.card {
    width: 380px;
    padding: 40px 30px 30px 30px;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $White;
}

.card-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: $Dark100;
}

.card-button__wrap {
    margin-top: 30px;
}

.card-name__wrap {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card-register__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.card-button__empty {
    margin: 2px;
    padding: 15px 26px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $Purple;
    border: none;
    outline: none;
    border-radius: $bigRadius;
    background: $White;
    cursor: pointer;
    transition: all 0.8s ease;
}

.card-button__empty:hover {
    opacity: 1;
}

.card-buttonEmpty__wrap  {
    background: linear-gradient(180deg, $Purple 0%, $Violet 100%);
    border-radius: $bigRadius;
    transition: all 0.6s ease;
}

.card-buttonEmpty__wrap:hover {
    background: linear-gradient(180deg, $Purple50 0%, $Violet50 100%);
}

.card-title__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card-title-violet {
    text-transform: uppercase;
    font-size: 12px; 
    line-height: 15px;
    font-weight: 700;
    color: $Purple;
}

.card-title-gray {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: $Dark50;
}

.card-title-text {
    font-weight: 400;
}

.card-price__wrap {
    margin-top: 20px;
    margin-bottom: 30px;
}

.card-price,
.price-info__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-price {
    margin-bottom: 10px;
}

.price-info__wrap {
    width: 240px;
}

.card-price__total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: $Dark100;
    margin-bottom: 20px;
}

.price-info {
    padding: 0;
    border: none;
    outline: none;
    background-color: $White;
    cursor: pointer;
}

.price__total-line {
    width: 180px;
    border-bottom: 1px dashed $Dark100;
}

//rooms
.miniCard-wrap {
    margin-bottom: 40px;
    width: 270px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $White;
}

.miniCard-content {
    padding: 20px;
}

.card-raiting__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $Dark1;
}

.card-raiting__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    color: $Dark50;
}

.card-raiting__lightText {
    font-weight: 400;
}