$Dark100: #1F2041;
$Dark75: rgba(31, 32, 65, 0.75);
$Dark50: rgba(31, 32, 65, 0.5);
$Dark25: rgba(31, 32, 65, 0.25);
$Dark05: rgba(31, 32, 65, 0.05);
$Dark1: rgba(31, 32, 65, 0.1);
$Purple: #BC9CFF;
$Purple50: rgba(188, 156, 255, 0.5);
$Violet: #8BA4F9;
$Violet50: rgba(139, 164, 249, 0.5);
$Green: #6FCF97;
$DarkGreen: #66D2EA;
$White: #FFF;
$Red: #ff634769;

$text-size: 14px;

$maxWidth: 1160px;

$radius: 4px;
$bigRadius: 22px;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: $text-size;
    line-height: 24px;
    color: $Dark75;
    background-color: $Dark05;
}

.wrap {
    margin: auto;
    width: $maxWidth;
}

/* ==========================================
 link style
=========================================== */
a {
    display: block;
    text-decoration: none;
    font-size: $text-size;
    transition: text-shadow 0.5s ease;
}

.link-black {
    color: $Dark50;
}

.link-black:hover, 
.link-black:focus-within {
    text-shadow: 0 0 1.2px $Dark75, 0 0 1.2px $Dark75;
}
  
/* ==========================================
 Tutle style
=========================================== */
h1, 
h2, 
h3 {
    margin: 0;
    font-weight: 700;
    color: $Dark100;
}

h1 {
    font-size: 24px;
    line-height: 29px;
}
  
h2 {
    font-size: 19px;
    line-height: 23px;
}
  
h3 {
    font-size: 12px;
    line-height: 14px;
}

p {
    margin: 0;
}

.gray-logo__wrap {
    display: flex;
    align-items: center;
    margin: 30px 30px 62px;
}

.gray-logo__wrap a {
    margin-left: 20px;
}

.user__wrap {
    margin-top: 40px;
    background-color: $White;
}

.header__login-line {
    width: 1px;
    height: 30px;
    background-color: $Dark1;
}

.header__login-name {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $Dark50; 
}

/* ==========================================
 grow & shrink
=========================================== */
.logo__grow {
    flex-grow: 2;
}

/* ==========================================
 margin & padding
=========================================== */

.mrtop-16 {
    margin-top: 16px;
}

.mrtop-20 {
    margin-top: 20px;
}

.mrtop-80 {
    margin-top: 80px;
}

.mrbottom-16 {
    margin-bottom: 16px;
}

.mrrh-20 {
    margin-right: 20px;
}

.mrleft-40 {
    margin-left: 40px;
}

.pdleft-20 {
    padding-left: 20px;
}

.side {
    margin-left: 126px;
    margin-right: 126px;
}

.mrbottom-54 {
    margin-bottom: 54px;
}

/* ==========================================
 colored
=========================================== */
.warning {
    color: $Red;
    background-color: $Red;
    padding-left: 10px;
}

.bgcolor-white {
    background-color: $White;
}

.color-black-75 {
    color: $Dark75;
}

/* ==========================================
 display
=========================================== */
.inline-text {
    display: inline;
}

.flex-content {
    display: flex;
}

/* ==========================================
 imports
=========================================== */
@import 'header.scss';
@import 'footer.scss';
@import 'inputs.scss';
@import 'media.scss';